<!DOCTYPE html>
<html>
    <head>
        <title>Granta Materials Wall@(string.IsNullOrWhiteSpace(ViewBag.Title) ? "" : " - " + ViewBag.Title)</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="icon" href="http://www.grantadesign.com/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

        @Styles.Render("~/Content/css", "~/Content/materialswall.css")
    </head>

    <body>
        <div class="jumbotron">
            <div class="container">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/logo.png"/>
                </a>
            </div>
        </div>

        <div class="container">
            @RenderBody()
        </div>
        
        <div class="container">
            <div class="footer">
                <hr/>
                <div class="about" style="float:left">
                    @Html.ActionLink("About the materials collection", "About", "Home")
                </div>
                @RenderSection("customFooter", required: false)

                <nobr>
                    &copy; <a href="http://www.grantadesign.com">Granta Design</a> @(DateTime.Now.Year) All rights reserved
                </nobr>
                |
                <a href="http://www.grantadesign.com/smallprint.htm">Legal</a>
                |
                <a href="http://www.grantadesign.com/company/">Company</a>
                |
                <a href="http://www.grantadesign.com/contact/">Contact</a>
            </div>
        </div>
        

        @Scripts.Render("~/bundles/jquery")
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
