@model IEnumerable<Granta.MaterialsWall.DataAccess.Card>

@section styles
{
    @Styles.Render("~/bundles/wallcards")
}

<div class="row">
    @foreach(var card in Model)
    {
        <div class="cardholder col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a href="@Url.Action("Index", "Card", new { identifier = card.Identifier })">
                <div class="wallcard">
                    <img src="@Url.Action("Thumbnail", "Image", new { identifier = card.Identifier })" title="@card.Name"/>
                    
                    <div class="details">
                        <div class="materialname">@card.Name</div>
                        <div class="materialpath">@card.Path</div>
                    </div>
                </div></a>
        </div>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/searchfilter")
}
