@model IEnumerable<Granta.MaterialsWall.DataAccess.Card>

@section styles
{
    @Styles.Render("~/bundles/wallcards")
}

<div id="cardcontainer">
    <div id="cardrow" class="row">
        @Html.Partial("_PageOfCards", Model)
    </div>
</div>

<div id="loading" style="display:none">
    <img src="~/Content/loading.gif" />
</div>

@section scripts
{
    <script>
        var nextPageStub = '@Url.Action("Page", "Home")?p=';
    </script>
    @Scripts.Render("~/bundles/searchfilter")
    @Scripts.Render("~/bundles/scroll-loading")
}
