@model IEnumerable<Granta.MaterialsWall.Models.Card>

@section styles
{
    @Styles.Render("~/bundles/wallcards")
}

<div id="cardcontainer">
    <div id="cardrow" class="row">
        @Html.Partial("_PageOfCards", Model)
    </div>
</div>

<div id="loading" style="display:none">
    <img src="~/Content/loading.gif" />
</div>

<div id="to-top">
    <a href="#top"><span class="glyphicon glyphicon-arrow-up"></span> Top</a>
</div>

@section scripts
{
    <script>
        var nextPageStub = '@Url.Action("Page", "Home")?p=';

        $("a[href='#top']").click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    </script>
    @Scripts.Render("~/bundles/searchfilter")
    @Scripts.Render("~/bundles/scroll-loading")
    @Scripts.Render("~/bundles/back-to-top")
}
