@model Granta.MaterialsWall.DataAccess.Card

@{
    ViewBag.title = Model.Name;
}

@Styles.Render("~/Content/card.css")

<div class="card">
    <img src="@Url.Action("Index", "Image", new { identifier = @Model.Identifier })" />
                    
    <div class="details">
        <div class="materialname">@Model.Name</div>
        
        @if (@Model.Path != null)
        {
            <div class="materialpath">@Model.Path</div>
        }

        @if (@Model.Description != null)
        {
            <div class="data">
                <div class="heading">
                    Description
                </div>
                <div class="value">
                    @Model.Description
                </div>
            </div>
        }

        @if (@Model.TypicalUses != null)
        {
            <div class="data">
                <div class="heading">
                    Typical Uses
                </div>
                <div class="value">
                    @Model.TypicalUses
                </div>
            </div>
        }

        @if (@Model.Source != null)
        {
            <div class="data">
                <div class="heading">
                    Source
                </div>
                <div class="value">
                    @Model.Source
                </div>
            </div>
        }
        
        @if (@Model.Links != null && @Model.Links.Length > 0)
        {
            <div class="data">
                <div class="heading">
                    See Also
                </div>
                <div class="value">
                    <ul>
                    @foreach (var link in @Model.Links)
                    {
                        <li><a href="@link">@link</a></li>
                    }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>