@model IEnumerable<Granta.MaterialsWall.DataAccess.Card>

@section styles
{
    @Styles.Render("~/bundles/labels")
}

<div class="slider">
    Label width: <input type="range" name="labelWidth" min="350" max="800" value="580" onchange="javascript:changeLabelWidth(this);">
</div>

@foreach (var card in @Model)
{
    <div class="walllabel">
        <img src="@Url.Action("Image", "Labels", new { identifier = @card.Identifier})"/>
        <div class="details">
            <div class="materialname">@card.Name</div>
            <div class="materialpath">@card.Path</div>
        
            @if (!string.IsNullOrWhiteSpace(card.Source))
            {
                <div class="materialsource">Source: @card.Source</div>
            }
        </div>
    </div>
}

@section scripts
{
    <script>
        function changeLabelWidth(slider) {
            var width = $(slider).val();
            $('.walllabel').width(width);
        }
    </script>
}
