@using System.Data.Common
@model IEnumerable<Granta.MaterialsWall.DataAccess.Card>

<style>
.walllabel {
    border: 1px solid black;
    width: 600px;
    height: 140px;
}    

.walllabel div {
    margin-bottom: 8px;
    padding: 3px;
}

.walllabel img {
    float: right;
}

.walllabel .details {
    xfloat: left;
}

.materialname {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: bold;
    font-size: x-large;
}

.materialpath {
    color: #cc6633;
    font-weight: bold;
    font-size: small;
    text-wrap: normal;
}

.materialsource {
    color: #666;
    font-weight: bold;
}
</style>

@foreach (var card in @Model)
{
    <div class="walllabel">
        <img src="@Url.Action("Image", "Labels", new { identifier = @card.Identifier})"/>
        <div class="details">
            <div class="materialname">@card.Name</div>
            <div class="materialpath">@card.Path</div>
        
            @if (!string.IsNullOrWhiteSpace(card.Source))
            {
                <div class="materialsource">Source: @card.Source</div>
            }
        </div>
    </div>
}
